.PokemonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper{
    display: inline-block;
}
.controlBtn{
    display: flex;
    justify-content: space-between;
}
.controlBtn button{
    background-color: transparent;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
    font-size: 15px;
    border-radius: 6px;
    padding: 10px;
    z-index: 10;
    transition: 0.5s all;


}
.controlBtn button:hover,
.controlBtn button:focus{
    box-shadow: inset 100px 0 0 0 #000;
    color: #fff;
}

